.sidenav-right{
    position: fixed;
    top: 64px;
    bottom: 0;
    padding-right: 16px;
    min-width: 130px;
}
.sidenav-left{
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    min-width: 130px;
    background-color: #fafafa;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
}
.clipboard-view{
    position: fixed;
    top: -100px;
}
.navigate-view{
    display: flex;
}
.navigate-fill{
    flex: 1 1 auto;
}