<div class='clipboard-view'>
    <textarea #inputClipboard id="btn-clipboard-input"></textarea>
    <button #btnClipboard class="btn-clipboard" data-clipboard-target="#btn-clipboard-input">copy
    </button>
</div>
<div #xi18n class="hide">
    <div data-key="copyied" i18n>Code Ccopyied</div>
</div>
<mat-drawer-container>
    <mat-drawer class="sidenav-left" mode="side" [opened]="isChapter()">
        <mat-nav-list>
            <a [routerLink]="['/view', bookID(book),'0']" mat-list-item>{{book?.Name}}</a>
            <mat-divider></mat-divider>
            <a *ngFor="let item of book?.Chapter;" [routerLink]="['/view', book?.ID, item.ID]" mat-list-item>{{item.Name}}</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer class="sidenav-right" mode="side" [opened]="isHeader()" position="end">
        <app-markdown-bar [items]="markdown?.Header" (valChange)="onChange($event)"></app-markdown-bar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="navigate-view">
            <button (click)="onRouter(previous.Book,previous.Chapter)" mat-button class="previous no-outline" *ngIf="previous">
                <mat-icon>navigate_before</mat-icon>
                {{previous?.Name}}
            </button>
            <div class="navigate-fill"></div>
            <button (click)="onRouter(next.Book,next.Chapter)" mat-button class="next no-outline" *ngIf="next">
                {{next?.Name}}
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>

        <section #view [innerHtml]="markdown?.HTML" highlight-js-content="code">
        </section>

        <div class="navigate-view">
            <button (click)="onRouter(previous.Book,previous.Chapter)" mat-button class="previous no-outline" *ngIf="previous">
                <mat-icon>navigate_before</mat-icon>
                {{previous?.Name}}
            </button>
            <div class="navigate-fill"></div>
            <button (click)="onRouter(next.Book,next.Chapter)" mat-button class="next no-outline" *ngIf="next">
                {{next?.Name}}
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>