/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap.min.css";
@import "assets/css/Material.Icons.css";
@import "assets/js/highlight/9.12.0/styles/androidstudio.css";
@import "~angular2-toaster/toaster.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css"; 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~simplemde/dist/simplemde.min.css";
.menu-btn{
    outline: 0 none !important;
    border: none;
}
.no-outline{
    outline: 0 none !important;
    border: none;
}
.center{
    display:flex;           /*Flex布局*/
    align-items:center;     /*指定垂直居中*/
    justify-content:center; /*指定水平居中*/
}
.hide{
    display: none;
}
.pointer{
    cursor: pointer;
}
.full-width {
    width: 100%;
}
.hljs {
    color: #a9b7c6;
    background: #282b2e;
    display: inline;
    overflow-x: auto;
    padding: 0.5em;
}
pre .hljs {
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    position: relative;
}
pre .text{
    color: #a9b7c6;
    background: #282b2e;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    position: relative;
}
.clipboard {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.clipboard:active{
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
}
blockquote{
    color: rgb(116, 129, 141);
    margin: 0px 16px 24px;
    padding: 19px 16px 1px 12px;
    background: #E0EBF5;
    border-radius: 8px;
}