<div class="hide" #title i18n>Title Edit</div>
<div [ngSwitch]="status">
  <ng-template [ngSwitchCase]="InitBook">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <ng-template [ngSwitchCase]="InitChapter">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <ng-template [ngSwitchCase]="ErrorBook">
    <div class="alert alert-warning">
      <strong i18n>Error</strong> {{error}}
      <hr>
      <button mat-button i18n (click)="onRetry()">Retry</button>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="ErrorChapter">
    <div class="alert alert-warning">
      <strong i18n>Error</strong> {{error}}
      <hr>
      <button mat-button i18n (click)="onRetryChapter()">Retry</button>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="Success">
    <app-markdown2 [book]="bookInfo" [val]="markdown"></app-markdown2>
  </ng-template>
</div>