<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  {{data.text}}
</div>
<div mat-dialog-actions>
  <button type="button" mat-button (click)="onSure()" i18n>Sure</button>
  <button type="button" mat-button (click)="onCancel()" i18n>Cancel</button>
</div>