<div #xi18n class="hide">
  <div data-key="title" i18n>Books Management</div>
  <div data-key="sure.title" i18n>Book Remove Sure Title</div>
  <div data-key="sure.text" i18n>Book Remove Sure Text</div>
</div>
<form #form="ngForm" class="search" (submit)="onSubmit()">
  <mat-form-field class="field">
    <input matInput i18n-placeholder [disabled]="request" placeholder="Book Name Search Placeholder" name="id" [(ngModel)]="bookName">
  </mat-form-field>
  <mat-form-field class="field">
    <input matInput i18n-placeholder appValidatorsBookFind [disabled]="request" placeholder="Book Search Placeholder" name="name"
      [(ngModel)]="bookID">
    <mat-error i18n>ID Invalid</mat-error>
  </mat-form-field>
  <button mat-button class="no-outline" [disabled]="request || form.invalid" i18n>Search</button>
  <button type="button" (click)="onNew()" mat-button class="no-outline" [disabled]="request" i18n>New</button>
</form>
<p [appShow]="request">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</p>
<mat-list>
  <mat-list-item *ngFor="let item of items">
    <mat-icon matListAvatar color="primary">book</mat-icon>
    <p matLine>{{item.Name}}</p>
    <a matLine routerLink="/view/{{item.ID}}/0">view/{{item.ID}}</a>
    <a matLine routerLink="/edit/{{item.ID}}/0">edit/{{item.ID}}</a>
    <button (click)="onRename(item)" [disabled]="request" class="no-outline" mat-icon-button i18n-matTooltip matTooltip="Rename Tooltip">
      <mat-icon>create</mat-icon>
    </button>
    <button *ngIf="item.ID != 'home'" (click)="onReid(item)" [disabled]="request" class="no-outline" mat-icon-button i18n-matTooltip
      matTooltip="RenameID Tooltip">
      <mat-icon>timeline</mat-icon>
    </button>
    <button *ngIf="item.ID != 'home'" (click)="onRemove(item)" [disabled]="request" class="no-outline" mat-icon-button i18n-matTooltip
      matTooltip="Remove Tooltip">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>